@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome! and Take a rest...</h1>
    <p>Thank you for visiting my HP</a>.</p>
    <p>This is my GitHub <a href="https://github.com/Biolexey">link</a>!</p>
</div>
