@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome! Take a rest...</h1>
    <p>Thank you for visiting my HP <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>This is my <a href="https://github.com/Biolexey">GitHub</a>link!</p>
</div>
